<<<<<<< HEAD
{{ #each data }}
        <li><a href="/posts/{{ids}}">{{title}}</a></li>
=======
{{#each data}}
<li><a href="/posts/{{{ids}}}">{{title}}</a></li>
>>>>>>> hamzah slow vscode pains
{{/each}}