<a href="/post/new/{{classId}}">Create a post</a>
{{#if postsExist }}
{{#each data}}
        <li><a href="/posts/{{ids}}">{{title}}</a></li>
{{/each}}
{{else}}
        <p>Sorry, there are no posts currently available for this class. Make the first one!</p>
{{/if}}
