{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": "error",
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "only-multiline"
        }],
        "quotes": ["error", "single"],
        "no-trailing-spaces": ["error", { "skipBlankLines": true,
            "ignoreComments": true }]
    }
}