<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/styles/site.css">
    <title>{{{title}}}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Navigation Bar -->
    <div class="Navigation_Bar cornsilk">
        <div class="Navigation_Bar_Inner liberty">
            <!-- Home Button -->
            <div class="Home_Button">
                <a href="/">
                    <img src="/public/img/lighthouse_logo.svg" alt="home">
                </a>
            </div>

            <!-- Website Title -->
            <div class="Website_Title">
                Lighthouse
            </div>

            <!-- Home Button -->
            <div class="DB_Button white">
                <a href="/dashboard" class="DB_Text"> Dashboard </a>
            </div>

            <!-- Login/Logout -->
            {{#if loggedIn}}
            <div class="Profile white">
                <a href="/user" class="Logout_Text">Profile</a>
            </div>
            <div class="Logout white">
                <a href="/logout" class="Logout_Text"> Logout </a>
            </div>
            {{else}}
            <div class="Login white">
                <a href="/login" class="Logout_Text"> Login </a>
            </div>
            {{/if}}
        </div>
    </div>
    {{{ body }}}
</body>

</html>