<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/styles/site.css">
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

</head>

<body>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/public/js/login.js"></script>

</body>

</html>