<link rel="stylesheet" href="/public/styles/logout.css">
<div class="container cornsilk">

    <h3>We're sorry, an error has occurred.</h3>
    <h4>{{{error}}}</h4>

    <div class="Home">
        <a href="/dashboard" class="Home_Text">Return to dashboard</a>
    </div>

</div>