<link rel="stylesheet" href="/public/styles/home-page.css">
<div class="navbar cornsilk">
    <div class="navbar_inner liberty">
        <div class="yeah">
            <img src="../public/img/lighthouse_logo.svg" alt="home" style="imga">
        </div>
        <h1>
            Lighthouse
        </h1>

        <button class="sign_in_btn">
            <a href="/login"> Sign in </a>
        </button>
    </div>

</div>
<div class="card white center">
    <h1 class="title"> Welcome to Lighthouse! </h1>
    <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    <img src="../public/img/lighthouse_logo.svg" alt="Avatar">
</div>