<link rel="stylesheet" href="/public/styles/home-page.css">
<div class="Navigation_Bar">
    <div class="navbar_inner liberty">
        <button class="Home-Button">
            <a href="/">
                <img src="../public/img/lighthouse_logo.svg" alt="home">
            </a>
        </button>
        <div class="Website-Title ">
            Lighthouse
        </div>

        <button class="sign_in_btn">
            <a href="/login"> Sign in </a>
        </button>
    </div>

</div>
<div style="display: flex; top: 10%">
    <div class="card white center">
        <h1 class="title"> Card1! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
    <div class="card white center">
        <h1 class="title"> Card2! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
    <div class="card white center">
        <h1 class="title"> Card3! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
</div>