<link rel="stylesheet" href="/public/styles/home-page.css">

<!-- Page Content -->
<div style="display: flex; top: 10%">
    <div class="card white center">
        <h1 class="title"> Card1! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
    <div class="card white center">
        <h1 class="title"> Card2! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
    <div class="card white center">
        <h1 class="title"> Card3! </h1>
        <p class="title"> Lighthouse is the new service to faciliate effective student faculty communications. </p>
    </div>
</div>