<link rel="stylesheet" href="/public/styles/logout.css">


<div class="container cornsilk">
    <h2>Log In</h2>

    <div class="graphic">
        <img src="../public/img/login.svg" alt="Avatar" style="width: 100%;">
    </div>

    <div>
        <form class="login_form" id="login-form" action="/login" method="POST">
            <div class="line">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" name="login-email">
            </div>
            <div class="line">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="login-password">
            </div>
            <div id="login-error" hidden>
                <ul id="login-error-list">
                </ul>
            </div>
            <input hidden type="text" name="redirect-url" id="redirect-url" value="{{{redirect}}}">
            <button type="submit">Log In</button>
        </form>
    </div>





    <div class="Home">
        <a href="/register" class="Home_Text">Register for Lighthouse!</a>
    </div>

    {{#if invalid}}
    <h3>Invalid email and/or password!</h3>
    {{/if}}
    {{#if error}}
    <h3>Unknown server error. Please try again later.</h3>
    {{/if}}

</div>

<!-- Scripts -->
<script src="/public/js/scripts/login.js"></script>