<h1>Log In</h1>
<form action="/login" method="POST">
    <label for="login-username">Username</label>
    <input type="text" id="login-username" name="login-username">
    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="login-password">
    <button type="submit">Log In</button>
</form>
{{#if invalid}}
<h3>Invalid username and/or password!</h3>
{{/if}}
{{#if error}}
<h3>Unknown server error. Please try again later.</h3>
{{/if}}