<h1>Log In</h1>
<form action="/login" method="POST">
    <label for="login-email">Email</label>
    <input type="text" id="login-email" name="login-email">
    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="login-password">
    <button type="submit">Log In</button>
</form>
<a href="/register">Register for Lighthouse!</a>
{{#if invalid}}
<h3>Invalid username and/or password!</h3>
{{/if}}
{{#if error}}
<h3>Unknown server error. Please try again later.</h3>
{{/if}}