<link rel="stylesheet" href="/public/styles/logout.css">


<div class="container cornsilk">
    <h2>You have been successfully logged out.</h2>

    <div class="graphic">
        <img src="../public/img/logout.svg" alt="Avatar" style="width: 100%;">
    </div>

    <div class="Home">
        <a href="/" class="Home_Text">Return to Home Page</a>
    </div>

</div>