{{#if error}}
<h1>Sorry, an error occurred</h1>
<h3>{{{error}}}</h3>
{{else}}
<h2>New Post for {{{class.name}}}</h2>
<form action="/post/new" method="POST">
    <label for="post-name">Post Title</label>
    <input type="text" name="post-name" id="post-name">
    <label for="post-description">Post Body</label>
    <input type="text" name="post-description" id="post-description">
    <input type="hidden" name="post-class" id="post-class" value={{{classID}}}>
    <button type="submit">Post</button>
</form>
{{/if}}