<h1>Log In</h1>
<form action="/login" method="POST">
    <label for="login-username">Username</label>
    <input type="text" id="login-username" name="login-username">
    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="login-password">
    <button type="submit">Log In</button>
</form>