.View {
    background-color: white;
    height: 40px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 10px;

    font-family: 'coolvetica';
    font-size: 20pt;
    color: #459dd8;
    text-decoration: none;
}

.scroll {
    overflow-y: scroll;
}

.vote-comment-button {
    width: 40px;
    height: 40px;
}

.like_button {
    width: 20px;
}

.vote-button img{
    width: 20px;
}
