/* Page Content */
.container {
    position: absolute;
    margin: auto;
    top: 120px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
}

.left {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.left:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.graphic {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    overflow-y: scroll;
}

/* On mouse-over, add a deeper shadow */
.right:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
