/* Page Content */
.container {
    position: absolute;
    top: 120px;
    left: 5%;
    right: 5%;
    bottom: 5%;
    margin: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    overflow: hidden;
}

.graphic {
    height: 80%;
    margin: auto;
    overflow: hidden;
}

.left {
    display: inline-block;
    width: 40%;
}

.Join {
    background-color: white;
    height: 40px;
    width: 300px;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.Join:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Join_Text2 {
    font-family: 'coolvetica';
    font-size: 20pt;

    color: #459dd8;
    text-decoration: none;
}

.Join_Text2:hover {
    color: black;
}

.profilecol {
    width: 60%;
    height: 80%;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.profilecol:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
