/* Page Content */
.container {
    position: absolute;
    top: 120px;
    left: 5%;
    right: 5%;
    bottom: 5%;
    margin: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    overflow: hidden;
}

.right {
    padding: 20px;
    margin: 20px;
    width: 40%;
}

.login_form {
    display: inline-block;
}

.line {
    right: 0;
}

.graphic {
    height: 80%;
    margin: auto;
    overflow: hidden;
}

.Home {
    background-color: white;
    height: 40px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.Home:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Home_Text {
    font-family: 'coolvetica';
    top: 10px;
    font-size: 20pt;
    color: #459dd8;
    text-decoration: none;
}

.Home_Text:hover {
    color: black;
}
