/* Theme colors */
.cornsilk {
    background-color: #fffcf0;
}
.spacecadet {
    background-color: #1c2541;
}
.celadonblue {
    background-color: #247ba0;
}
.skyblue {
    background-color: #459dd8;
}
.liberty {
    background-color: #4c5ea9;
}
.maroon {
    background-color: #a53860;
}
.white {
    background-color: #ffffff;
}

/* Fonts */

@font-face {
    font-family: 'coolvetica';
    src: local('coolvetica'), url(../fonts/coolvetica.ttf) format('opentype');
}

/* Elements */
body {
    background-color: #459dd8;
    margin: 0;
    padding: 0;
}
